<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Normal permissions: -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Dangerous permissions: -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <!-- TODO: add description, label? and icon? -->
        <service
            android:name=".domen.service.NsdControlService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice">
        </service>

        <service
            android:name=".domen.service.NsdVisitorService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>

</manifest>
