<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Normal permissions: -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Dangerous permissions: -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name=".domen.service.control.NsdControlService"
            android:label="@string/control_service_title"
            android:description="@string/control_service_description"
            android:icon="@drawable/control_service_small_icon_24"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice">
        </service>

        <service
            android:name=".domen.service.visitor.NsdVisitorService"
            android:label="@string/visitor_service_title"
            android:description="@string/visitor_service_description"
            android:icon="@drawable/visitor_service_small_icon_24"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>

</manifest>
