<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuzhnov.workcontrol.core.visitservice.studentservice">

    <!-- Normal permissions: -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Dangerous permissions: -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name=".presentation.service.NsdStudentService"
            android:label="@string/student_service_title"
            android:description="@string/student_service_description"
            android:icon="@drawable/student_service_small_icon_24"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>
</manifest>
